.stripes {
	background-image: url("assets/stripes.png");
	background-repeat: repeat;
	height: 13px;
	padding: 0;
}

.content {
	margin-left: 50px;
}

body {
	background-image: url("assets/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center bottom;
	background-color: #52596B;
	background-size: cover;
	color: #ffffff;
	margin: 0;

}

p {
	margin-top: 300px;

}

h2 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "helvetica";
	font-size: 26px;
	font-weight: normal;

}

hr {
	width: 50px;
	height: 2px;
	margin-left: 0;
	border-color: #FD6E6E;
	background-color: #FD6E6E;
	color: #FD6E6E;

}

a {
	
}