body {
	background: #FFFEFA;
	font-family: 'Lato', sans-serif;
	text-align: center;
	margin-top: 100px;
}

nav {
	font-size: 12px;
	padding-bottom: 20px;
}

a {
	text-decoration: none;
	color: #666666;
	padding: 13px;
	letter-spacing: 1.5px;
}

a:hover {
	color: #D6D6D6;
}

img {
	width: 680px;
	padding: 40px;
}

#small-logo {
	width: 350px;
}

h1 {
	text-decoration: bold;
	font-size: 30px;
	padding: 10px;
}

section {
	width: 680px;
	margin: 0 auto;
	text-align: center;
}

footer {
	margin-bottom: 100px;
}